:root {
  --darkBlack: #333;
  --lightGrey: #666;
  --lightWhite: #fff;
  --antiqueWhite: antiquewhite;
  --bgLight: linear-gradient(0.25turn, #cdeac0, #f3e0ac, #fec3a6, #ffac81);
  --bgGreen: rgba(41, 189, 49, 0.253);
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: var(--antiqueWhite);
}

/* Header Nav */

.nav-box {
  background: var(--bgGreen);
  height: 25vh;
  min-height: 176px;
  padding: 0 1em;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.nav-box-width {
  position: relative;
  height: 25vh;
  max-width: 600px;
  padding: 3em 0em 0.5em;
  margin: 0 auto;
  color: var(--darkBlack);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-box-width h1 {
  align-self: flex-start;
  text-align: start;
  color: var(--lightGrey);
  font-size: 3.5rem;
  line-height: 0.9;
}

.nav-box-width h1::before {
  position: absolute;
  top: 18px;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--lightGrey);
}

.nav-box-width div p {
  color: var(--lightGrey);
}

.nav-box-width div {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.nav-links {
  display: inline-block;
  margin-top: 0.8em;
  margin-left: 1em;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--bgLight);
}

a:hover {
  text-shadow: #fc0 1px 0 10px;
}

a:active {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.current {
  text-decoration: underline;
}

/* Header Hero */

.hero-box {
  background: var(--bgLight);
  height: 12vh;
  min-height: 120px;
  padding: 0 1em;
}

.hero-box-width {
  max-width: 600px;
  padding-top: 3.5em;
  margin: 0 auto;
  color: var(--lightGrey);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-box h3 {
  margin-bottom: 0.5em;
}

/* ========= */
/* Home Page */
/* ========= */

/* ============= */
/* Page Speakers */
/* ============= */

/* ============= */
/* Page Schedule */
/* ============= */

/* ========== */
/* Page Venue */
/* ========== */

/* ============= */
/* Page Register */
/* ============= */

.max-width {
  max-width: 600px;
  margin: 5em auto;
}

.main-container {
  position: relative;
  display: flex;
  padding: 0.2em;
}

/* Details */

.details-container {
  max-width: 65%;
  color: var(--lightGrey);
}

.details-container h3,
h4,
p {
  padding: 0.3em 0;
}

.details-container ul {
  margin-left: 2em;
}

/* Form */

.form-container {
  position: absolute;
  right: 0;
  color: var(--lightGrey);
}

.form-item-box:not(:first-child) {
  margin: 0.6em 0.2em;
}

.form-item-box label,
.form-item-box input {
  display: block;
  width: 100%;
  padding: 0.2em;
}

.form-item-box label {
  font-weight: 800;
}

.form-btn {
  padding: 0.5em 1.5em;
  color: var(--lightGrey);
  background-color: var(--bgGreen);
  box-shadow: var(--box-shadow);
  font-weight: 800;
}
